user.config
engine
bin
obj
mods/*/*.dll
mods/*/*.mdb
mods/*/*.pdb
/*.dll
/*.dll.config
/*.so
/*.dylib
/*.pdb
/*.mdb
/*.exe
DOCUMENTATION.md
Lua-API.md
StyleCopViolations.xml
.DS_Store
*.lnk
.idea/
utils/
BACKUP/
mods/common/
mods/openop2/maps-import/
packaging/sourceart/*.png
packaging/sourceart/*.ico
